/* Variables */
:root {
  --blanco: #FFF;
  --negro: #  000;
  --gris: #696969;
  --fuentePrincipal: "Roboto", serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
body {
  background-color: var(--blanco);
  line-height: 1.5;
}
p {
  font-size: 1.6rem;
  font-family: var(--fuentePrincipal);
  color: var(--negro);
}
select {
  -webkit-appearance: none;
  appearance: none;
  min-width: min(100%,240px);
  padding: 12px 24px 12px 12px;
  line-height: 24px;
  border: solid 1px #cecece;
  border-radius: 6px;
  /*   background-image: url(https://www.svgrepo.com/show/362528/caret-down-bold.svg); */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='180 -360 600 1200'%3E%3Cpath d='M1015 10q-10-10-23-10t-23 10L512 492 55 10Q45 0 32 0T9 10Q0 20 0 34t9 24l480 506q10 10 23 10t23-10l480-506q9-10 9-24t-9-24z'%20fill%3D%27slategray%27/%3E%3C/svg%3E");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
  cursor: pointer;
  font-family: var(--fuentePrincipal);
  font-size: 16px;
  font-weight: normal;
  color: black;
  outline: none;
}

h1 {
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: 5rem;
}
/* Utilidades */
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}
.contenido-header {
  font-family: var(--fuentePrincipal);
  font-weight: bold;
  text-align: center;
}
.parrafo-header {
  color: var(--gris);
}
.contenedor {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: .5rem;
  padding-inline: 6rem;
}
.entrada-componentes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  padding: 3rem;
}
.contenedor-tarjeta {
  background-color: #d3e4ff;
  border-radius: 8px;
  font-family: var(--fuentePrincipal);
  padding: 1rem 1.5rem;
  
}
.consume-body {
  font-size: 3.5rem;
  font-weight: bold;
  color: #0068ff;
  margin: 0;
}
.consume-header {
  font-size: 1.5rem;
  font-weight: bold;
}