/* Variables */
:root {
  --blanco: #fff;
  --negro: #000;
  --gris: #696969;
  --azul: #2563eb;
  --colorBorder: #cecece;
  --fuentePrincipal: "Roboto", serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--blanco);
  line-height: 1.5;
}
p {
  font-size: 1.6rem;
  font-family: var(--fuentePrincipal);
  color: var(--negro);
}
img {
  width: 50%;
}
select {
  -webkit-appearance: none;
  appearance: none;
  min-width: min(100%, 240px);
  padding: 12px 24px 12px 12px;
  line-height: 24px;
  border: solid 1px #cecece;
  border-radius: 6px;
  /*   background-image: url(https://www.svgrepo.com/show/362528/caret-down-bold.svg); */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='180 -360 600 1200'%3E%3Cpath d='M1015 10q-10-10-23-10t-23 10L512 492 55 10Q45 0 32 0T9 10Q0 20 0 34t9 24l480 506q10 10 23 10t23-10l480-506q9-10 9-24t-9-24z'%20fill%3D%27slategray%27/%3E%3C/svg%3E");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
  cursor: pointer;
  font-family: var(--fuentePrincipal);
  font-size: 16px;
  font-weight: normal;
  color: black;
  outline: none;
}
h1 {
  display: block;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
  font-size: 7rem;
  margin-bottom: 0;

  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
h2 {
  font-family: var(--fuentePrincipal);
  color: var(--negro);
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
a {
  text-decoration: none;
}
/* h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0;
} */

/* Utilidades */
/* .no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
} */
.contenido-header {
  font-family: var(--fuentePrincipal);
  font-weight: bold;
  text-align: center;
}
.parrafo__header {
  color: var(--gris);
  margin-top: 0;
}
.contenedor {
  max-width: 140rem;
  margin: 0 auto;
}
.contenedor-calculator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}
.entrada-componentes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}
.contenedor-tarjeta {
  background-color: #d3e4ff;
  border-radius: 10px;
  font-family: var(--fuentePrincipal);
  padding: 16px;
}
.consume-header {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 8px 0;
}
.consume-body {
  font-size: 6.5rem;
  font-weight: bold;
  color: var(--azul);
  margin: 0;
  line-height: 1;
}
.consume-footer {
  font-size: 1.5rem;
  margin: 16px 0 0 0;
}
.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5rem;
  text-transform: none;
}
.boton-encontrar {
  font-size: 2rem;
  font-weight: bold;
  padding: 12px 32px;
  background-color: var(--azul);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.boton-comprar {
  font-size: 2rem;
  font-weight: bold;
  padding: 12px 32px;
  background-color: var(--azul);
  color: white;
  border: none;
  border-radius: 8.5px;
  cursor: pointer;
}
.boton-encontrar:hover {
  background-color: var(--azul);
}
.boton-encontrar:active {
  background-color: var(--azul);
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  /*column-gap: 2rem;
  row-gap: 2rem;*/
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Productos */
.producto {
  background-color: var(--blanco);
  padding: 1rem;
  border-radius: 6px;
  border: solid 1px var(--colorBorder);
}
.producto__nombre {
  font-size: 2.5rem;
}
.producto__modelo,
.producto__potencia {
  font-size: 1.8rem;
  color: var(--gris);
}
.producto__precio {
  font-size: 3.5rem;
  color: var(--gris);
  line-height: 1.2;
}
.producto__nombre,
.producto__modelo,
.producto__potencia,
.producto__precio {
  font-family: var(--fuentePrincipal);
  margin: 1rem 0;
  text-align: left;
  line-height: 1.2;
}
